# Data - DeepCrack 537 images, download via script
data/
DeepCrack.zip
*.tar
*.zip

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv
venv/
.ipynb_checkpoints/
.pytest_cache/

# Models
models/*.pth
models/*.pkl
# !models/best_unet.pth

# OS
.DS_Store
Thumbs.db

# Logs
*.log
wandb/
